@using System.Security.Claims
@inherits LayoutComponentBase

<!--
// v0 by Vercel.
// https://v0.dev/t/i5cOrdFOvgi
-->

<style>
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Inter', sans-serif;
        --font-sans: 'Inter';
    }
</style>
<style>
    body {
        font-family: 'Inter', sans-serif;
        --font-sans: 'Inter';
    }
</style>
<div class="grid min-h-screen w-full lg:grid-cols-[280px_1fr]">
    <div class="hidden border-r bg-gray-100/40 lg:block">
        <div class="flex h-full max-h-screen flex-col gap-2">
            <div class="flex h-[60px] items-center border-b px-6">
                <a class="flex items-center gap-2 font-semibold" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="h-6 w-6">
                        <path d="M3 9h18v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9Z"></path>
                        <path d="m3 9 2.45-4.9A2 2 0 0 1 7.24 3h9.52a2 2 0 0 1 1.8 1.1L21 9"></path>
                        <path d="M12 3v6"></path>
                    </svg>
                    <span class="">Prose.ai</span>
                </a>
            </div>
            <div class="flex-1 overflow-auto py-2">
                <NavMenu />
            </div>
        </div>
    </div>
    <div class="flex flex-col">
        <Header />
        <main class="flex flex-1 flex-col">
            @Body
        </main>
    </div>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
